.App {
  text-align: center;
}


* {
  text-decoration: none; 
}
html, body {
  padding: 0;
  margin: 0;
}

.logo {
  font-weight: bold;
  color: white;
  line-height: 40px;
  font-size: 26px;

}

.App-header {
  background-color: #49AAFC;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.header-left-link {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.sign-in-button {
  background: transparent;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: white;
  border-radius: 4px;
  color: white;
}
.sign-up {
  background: transparent;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: #49AAFC;
  border-radius: 4px;
  color: #49AAFC;
  font-weight: bold;
}

.top {
  display: flex;

}

.top-left, .top-right {
  width: 50%;
  height: 500px;
}

.top-left {
  background-color: cyan;
}

.top-right {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.concept {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: left;
}

.concept-large {
  color: #49AAFC;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

.sign-in, .registration, .certificates, .certificate, .new-group, .new-profile, .group-members, .issuer, .issue{
  height: 500px;
  padding: 20px;
  background-color: #F1F9FF;
}

.sign-in-content, .registration-content, .certificates-content, .certificate-content, .new-cert-content, .new-group-content, .new-profile-content, .group-members-content, .issuer-certificates, .issue-content{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 300px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
}

.sign-in-message {
  color: #49AAFC;
  font-size: 12px;
  font-weight: bold;
}

.registration-title, .new-cert-title, .new-group-title, .new-profile-title, .issuer-certificates-title, .issue-title{
  color: #49AAFC;
  font-weight: bold;
}

.registration-icon {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.registration-form {
  margin-bottom: 60px;
}

.registration-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
}

.registration-form-name, .registration-form-email , .new-cert-form-group, .new-cert-form-to, .new-cert-form-name, .new-group-form-name, .new-group-form-address, .new-group-form-phone, .new-profile-form-name, .new-profile-form-email, .group-members-invite, .issue-form-to{
  height: 34px;
  border-radius: 4px;
  border: 1px solid #49AAFC;
  background: #F1F9FF;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.group-members-invite-button {
  width: 60px;
  height: 36px;
  background-color: #F1F9FF;
  font-weight: bold;
  color: #49AAFC;
  border: #49AAFC solid 1px;
  border-radius: 6px;
  margin-left: 6px;
}

.register-button {
  background-color: #49AAFC;
  height: 34px;
  line-height: 34px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.certificates-title, .group-members-title {
  color: #49AAFC;
  font-weight: bold;
}

.certificates-list-cell, .group-members-list-cell, .issuer-certificates-list-cell {
  display: flex;
  border-bottom: 1px #49AAFC solid;
  height: 120px;
}

.issuer-certificates-list-cell {
  justify-content: space-between;
}

.certificates-list-cell-icon, .group-members-list-cell-icon, .issuer-certificates-list-cell-icon {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.group-members-list-cell-icon {
  border-radius: 40px;
}

.certificates-list-cell-detail, .group-members-list-cell-detail, .issuer-certificates-list-cell-detail {
  width: 60%;
  margin-left: 20px;
  margin-right: 20px;
}

.certificates-list-cell-title, .group-members-list-cell-name, .issuer-certificates-list-cell-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.certificates-list-cell-date, .group-members-list-cell-address {
  font-size: 16px;
  text-align: left;
}
.certificates-list-cell p, .group-members-list-cell p, .issuer-certificates-list-cell p {
  color: #49AAFC;
  word-break: break-all;
}

.certificates-list-cell-by {
  text-align: right;
}

.certificate-title {
  color: #49AAFC;
  font-weight: bold;
}
.certificate-icon {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.certificate-detail {
  width: 100%;
  border: solid 1px #49AAFC;
  border-radius: 4px;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.certificate-detail tr{
  height: 20px;
  border-bottom: solid 1px #49AAFC;
}
.certificate-detail td{
  font-size: 12px;
  color: #49AAFC;
  text-align: left;
  padding-left: 10px;
}

.certificate-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.certificate-button {
  width: 150px;
  height: 34px;
  line-height: 34px;
  background-color: #49AAFC;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
}
.new-cert-description, .new-group-description {
  color: #49AAFC;
  font-size: 12px;
  font-weight: normal;
}

.new-cert-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.new-cert-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
}

.new-cert-form-description {
  height: 200px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #49AAFC;
  background: #F1F9FF;
  font-size: 18px;
  padding: 4px;
}
.new-cert-form-image {
  width: 100%;
  height: 200px;
  padding: 20px;
  margin-bottom: 10px;
}

.new-cert-form-image-file {
  display: none;
}
.new-cert-form-image-file-div {
  color: #49AAFC;
  margin-bottom: 30px;
}
.new-cert-form-image-file-label {
  background-color: #49AAFC;
  width: 120px;
  height: 34px;
  line-height: 34px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
}

.new-group-form-title, .new-profile-form-title, .issue-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  margin-top: 0;
}
.new-group-form, .new-profile-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.new-profile-form-image {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-color: #F1F9FF;
}
.new-cert-button {
  background-color: #49AAFC;
  height: 34px;
  line-height: 34px;
  width: 100px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  float:right;
}

.issuer-certificates-new {
  background-color: #49AAFC;
  height: 34px;
  line-height: 34px;
  width: 100px;
  color: white;
  border: 0;
  border-radius: 4px;
  float:right;
}


.group-members-list-cell-icon {
  width: 80px;
  height: 80px;
  background: #F1F9FF;
}

.issuer-certificates-list-cell-title {
  padding-top: 34px;
}

.issuer-certificates-list-cell-issue {
  width: 44px;
  height: 30px;
  line-height: 30px;
  border: none;
  background-color: #49AAFC;
  color: white;
  border-radius: 4px;
  margin-top: 46px;
}
.issue-form-issue {
  width: 44px;
  height: 36px;
  line-height: 30px;
  border: none;
  background-color: #49AAFC;
  color: white;
  border-radius: 4px;
  margin-left: 6px;
}

.issue-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
