.App {
  text-align: center;
}


html, body {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #49AAFC;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.sign-in-button {
  background: transparent;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: white;
  border-radius: 5px;
  color: white;
}
.sign-up {
  background: transparent;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: #49AAFC;
  border-radius: 5px;
  color: #49AAFC;
  font-weight: bold;
}

.top {
  display: flex;

}

.top-left, .top-right {
  width: 50%;
  height: 500px;
}

.top-left {
  background-color: cyan;
}

.top-right {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.concept {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: left;
}

.concept-large {
  color: #49AAFC;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

.sign-in, .registration {
  height: 500px;
  padding: 20px;
  background-color: #F1F9FF;
}

.sign-in-content, .registration-content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
}

.sign-in-message {
  color: #49AAFC;
  font-size: 12px;
  font-weight: bold;
}

.registration-title {
  color: #49AAFC;
  font-weight: bold;
}

.registration-icon {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.registration-form {
  margin-bottom: 60px;
}

.registration-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
}

.registration-form-name, .registration-form-email {
  height: 34px;
  border-radius: 6px;
  border: 1px solid #49AAFC;
  background: #F1F9FF;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.register-button {
  background-color: #49AAFC;
  height: 34px;
  line-height: 34px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}
