.App {
  text-align: center;
}


* {
  text-decoration: none; 
}
html, body {
  padding: 0;
  margin: 0;
  background-color: #F1F9FF;
}

.logo {
  font-weight: bold;
  color: white;
  line-height: 40px;
  font-size: 26px;

}

.App-header {
  background-color: #49AAFC;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #49AAFC;
  height: 84px;
  width: 100%;
  padding: 3px;
  position: fixed;
  bottom: 0;
}

footer .footer-message, .footer-app {
  color: white;
}
.header-left-link {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.sign-in-button, .sign-out-button {
  background: transparent;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: white;
  border-radius: 4px;
  color: white;
}
.sign-up {
  background: transparent;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: #49AAFC;
  border-radius: 4px;
  color: #49AAFC;
  font-weight: bold;
}

.top {
  display: flex;

}

.top-right {
  width: 50%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.top-left {
  background-color: cyan;
}

.top-right {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.concept {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: left;
}

.concept-large {
  color: #49AAFC;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

.sign-in, .registration, .certificates, .certificate, .new-group, .new-profile, .issue, .edit-profile, .group, .not-found{
  padding: 20px;
  background-color: #F1F9FF;
  min-height: 1000px;
}

.sign-in-content, .registration-content, .certificates-content, .certificate-content, .new-cert-content, .new-group-content, .new-profile-content, .group-members-content, .issuer-certificates, .issue-content, .edit-group-content, .edit-profile-content, .issuer-certificate, .group-content, .not-found-content{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 300px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
  margin-bottom: 40px;
}

.not-found-message {
  font-size: 30px;
}
.not-found-message-sub {
  font-size: 20px;
}

.issuer-certificates {
  margin-top: 40px;
}

.sign-in-message {
  color: #49AAFC;
  font-size: 12px;
  font-weight: bold;
}

.registration-title, .new-cert-title, .new-group-title, .new-profile-title, .issuer-certificates-title, .issue-title, .edit-group-title, .edit-profile-title, .issuer-certificate-title, .group-title{
  color: #49AAFC;
  font-weight: bold;
}

.issuer-certificates-title {
  margin-top: 30px;
}

.registration-icon {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.registration-form {
  margin-bottom: 60px;
}

.registration-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
}

.registration-form-name, .registration-form-email , .sidebar-group, .new-cert-form-to, .new-cert-form-name, .new-group-form-name, .new-group-form-address, .new-group-form-phone, .new-profile-form-name, .new-profile-form-email, .group-members-invite, .issue-form-to, .edit-group-form-name, .edit-group-form-address, .edit-group-form-phone, .edit-profile-form-name, .edit-profile-form-email, .list-input-element {
  height: 34px;
  border-radius: 4px;
  border: 1px solid #49AAFC;
  background: #F1F9FF;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.sidebar-group {
  background-color: #49AAFC;
  color: white;
  border: 1px solid white;
  font-weight: bold;
}
.group-members-invite-button, .list-input-remove, .list-input-add {
  width: 60px;
  height: 36px;
  background-color: #F1F9FF;
  font-weight: bold;
  color: #49AAFC;
  border: #49AAFC solid 1px;
  border-radius: 6px;
  margin-left: 6px;
}

.register-button {
  background-color: #49AAFC;
  height: 34px;
  width: 70%;
  line-height: 34px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}


.certificates-title, .group-members-title {
  color: #49AAFC;
  font-weight: bold;
}

.certificates-list-cell, .group-members-list-cell, .issuer-certificates-list-cell {
  display: flex;
  border-bottom: 1px #49AAFC solid;
  min-height: 120px;
}

.issuer-certificates-list-cell {
  justify-content: space-between;
  min-height: 120px;
}

.certificates-list-cell-icon, .group-members-list-cell-icon, .issuer-certificates-list-cell-icon, .issuer-certificate-list-cell-icon {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.group-members-list-cell-icon, .issuer-certificate-list-cell-icon {
  border-radius: 40px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: #F1F9FF;
}

.certificates-list-cell-detail, .group-members-list-cell-detail, .issuer-certificates-list-cell-detail, .issuer-certificate-list-cell-detail {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.certificates-list-cell-title, .group-members-list-cell-name, .issuer-certificates-list-cell-title, .issuer-certificate-list-cell-name {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}
.certificates-list-cell-date {
  text-align: right;
  margin-top: 8px;
}
.group-members-list-cell-address, .issuer-certificate-list-cell-address {
  font-size: 16px;
  text-align: left;
}
.certificates-list-cell p, .group-members-list-cell p, .issuer-certificates-list-cell p {
  color: #49AAFC;
  word-break: break-all;
}

.certificates-list-cell-by {
  text-align: left;
  margin: 0;
}

.certificate-title {
  color: #49AAFC;
  font-weight: bold;
}
.certificate-icon {
  width: 100%;
  height: 400px;;
  object-fit: contain;
  margin-bottom: 30px;
}

.certificate-detail {
  width: 100%;
  border: solid 1px #49AAFC;
  border-radius: 4px;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.group-detail {
  width: 60%;
  border: solid 1px #49AAFC;
  border-radius: 4px;
  border-collapse: collapse;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.certificate-detail tr, .group-detail tr{
  height: 20px;
  border-bottom: solid 1px #49AAFC;
}
.certificate-detail td, .group-detail td {
  font-size: 12px;
  color: #49AAFC;
  text-align: left;
  padding-left: 10px;
}

.certificate-detail td a{
  font-size: 12px;
  color: #49AAFC;
  text-align: left;
}

.certificate-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.certificate-button {
  width: 150px;
  height: 34px;
  line-height: 34px;
  background-color: #49AAFC;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
}
.new-cert-description, .new-group-description {
  color: #49AAFC;
  font-size: 12px;
  font-weight: normal;
}

.new-cert-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.new-cert-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
}

.new-cert-form-description {
  height: 200px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #49AAFC;
  background: #F1F9FF;
  font-size: 18px;
  padding: 4px;
}
.new-cert-form-image {
  width: 100%;
  height: 200px;
  padding: 20px;
  margin-bottom: 10px;
}

.new-cert-form-image-file {
  display: none;
}
.new-cert-form-image-file-div {
  color: #49AAFC;
  margin-bottom: 30px;
}
.new-cert-form-image-file-label {
  background-color: #49AAFC;
  width: 120px;
  height: 34px;
  line-height: 34px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
}

.new-group-form-title, .new-profile-form-title, .issue-form-title, .edit-group-form-title, .edit-profile-form-title {
  text-align: left;
  font-weight: bold;
  color: #49AAFC;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  margin-top: 0;
}
.new-group-form, .new-profile-form, .edit-group-form, .edit-profile-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.new-profile-form-image, .edit-profile-form-image, .show-profile-image {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-color: #F1F9FF;
  margin-left: auto;
  margin-right: auto;
}

#new-profile-form-image-file, #edit-profile-form-image-file {
  display: none;
}
.new-cert-button {
  background-color: #49AAFC;
  height: 34px;
  line-height: 34px;
  width: 100px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  float:right;
}

.issuer-certificates-new {
  background-color: #49AAFC;
  height: 34px;
  line-height: 34px;
  width: 100px;
  color: white;
  border: 0;
  border-radius: 4px;
  float:right;
}



.issuer-certificates-list-cell-title {
  padding-top: 34px;
}

.issuer-certificates-list-cell-issue {
  width: 44px;
  height: 30px;
  line-height: 30px;
  border: none;
  background-color: #49AAFC;
  color: white;
  border-radius: 4px;
  margin-top: 46px;
}
.issue-form-issue {
  width: 44px;
  height: 36px;
  line-height: 30px;
  border: none;
  background-color: #49AAFC;
  color: white;
  border-radius: 4px;
  margin-left: 6px;
}

.issue-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.group-members-list-cell-disable, .issuer-certificate-list-cell-invalidate {
  width: 64px;
  height: 30px;
  line-height: 30px;
  border: none;
  background-color: #49AAFC;
  color: white;
  border-radius: 4px;
  margin-top: 46px;
}

.new-cert, .group-members, .edit-group, .issuer {
  display: flex;
  min-height: 1000px;
}
.sidebar {
  width: 240px;
  background-color: #2699FB;
}

.sidebar .sidebar-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: left;
  padding-left: 40px;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  color: white;
  text-align: left;
  margin-bottom: 20px;

}

a:visited {
  color: white;
}

.header-right-links {
  display:flex;
}

.header-right-links > * {
  margin-left: 14px;
}

.edit-profile-button {
  line-height: 44px;
  color: white;
}

.issuer-certificates-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.certificate-content-export {
  width: 600px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
  margin-bottom: 40px;
}

.hidden {
  overflow: hidden;
  height: 0px;
}
.certificate-content-export .certificate-detail {
  width: 500px;
  border: solid 1px #49AAFC;
  border-radius: 4px;
  border-collapse: collapse;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-image {
  width: 140px;
}

