.App {
  text-align: center;
}


html, body {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #49AAFC;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.sign-in-button {
  background: transparent;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: white;
  border-radius: 5px;
  color: white;
}
.sign-up {
  background: transparent;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #ccc;
  border-color: #49AAFC;
  border-radius: 5px;
  color: #49AAFC;
  font-weight: bold;
}

.top {
  display: flex;

}

.top-left, .top-right {
  width: 50%;
  height: 500px;
}

.top-left {
  background-color: cyan;
}

.top-right {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.concept {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: left;
}

.concept-large {
  color: #49AAFC;
  font-weight: normal;
  text-align: left;
  font-size: 24px;
}

.sign-in {
  height: 500px;
  padding: 20px;
  background-color: #F1F9FF;
}

.sign-in-content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
}

.sign-in-message {
  color: #49AAFC;
  font-size: 12px;
  font-weight: bold;
}
